<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>データ削除処理</title>
</head>

<body>
    <h1>削除するデータを選択</h1>
    <form action="/delete" method="post">
        <table border="1">
            <tr>
                <th>従業員番号</th>
                <th>氏名</th>
                <th>所属部門</th>
                <th>勤務時間</th>
            </tr>
            {% for row in data %}
            <tr>
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
                <td>{{row[6]-row[5]}}時間</td>
                <td><input type="radio" id="delete" name="radio" value={{row[0]}}>削除 </td>
            </tr>
            {% endfor %}
        </table>
        <input type="submit" value="実行">
    </form>
    <a href="/">ホーム</a>
</body>

</html>