<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>従業員登録</title>
    <link rel="stylesheet" href="../../static/css/entry.css">
</head>

<body>
    <div class="entry-form">
        <div class="entry-form-title">新規登録フォーム</div>
        <div class="entry-form-body">
            <form action="/dbinsert" method="post">
                氏名<br>
                <input type="text" id="name" name="name" required><br>
                配属部門<br>
                <input type="text" id="category" name="category" required><br>
                権限<br>
                <input type="text" id="auth" name="auth" required><br>
                性別<br>
                <input type="text" id="gender" name="gender" required><br>
                出勤時刻<br>
                <input type="text" id="start" name="start" required><br>
                退勤時刻<br>
                <input type="text" id="finish" name="finish" required><br>
                ログインパスワード<br>
                <input type="text" id="pass" name="pass"><br>
                <input type="submit" value="登録">
            </form>
        </div>
    </div>
    <a href="/">戻る</a>
</body>

</html>