<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>default page</title>
</head>


<header>
    <div class="hamburger-menu">
        <input type="checkbox" id="menu-btn-check">
        <label for="menu-btn-check" class="menu-btn"><span></span></label>
        <div class="menu-content">
            <ul>
                <li>
                    <a href="show">データベース照会</a>
                </li>
                <li>
                    <a href="dbdelete">データ削除</a>
                </li>
                <li>
                    <a href="entry">データ登録</a>
                </li>
            </ul>
        </div>
    </div>
</header>

<body>
    <div class="title">各画面へ移動するページ</div>
    <div class="adminmenu">
        管理者メニュー<br>
        <a href="/entry"><input type="button" name="1" value="従業員登録"></a>
        <a href="/show"><input type="button" name="2" value="従業員照会"></a>
        <a href="/search"><input type="button" name="3" value="従業員検索"></a>
        <a href="/dbdelete"><input type="button" name="4" value="従業員除名"></a>
    </div>
    <div class="menu">
        一般ユーザーメニュー<br>
        <a href="/submit"><input type="button" name="5" value="休暇申請"></a>
        <a href="/regstatus"><input type="button" name="5" value="休暇申請状況"></a>
    </div>
</body>

</html>