<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>default page</title>
</head>


<header>
    <div class="hamburger-menu">
        <input type="checkbox" id="menu-btn-check">
        <label for="menu-btn-check" class="menu-btn"><span></span></label>
        <div class="menu-content">
            <ul>
                <li>
                    <a href="show">データベース照会</a>
                </li>
                <li>
                    <a href="dbdelete">データ削除</a>
                </li>
                <li>
                    <a href="entry">データ登録</a>
                </li>
            </ul>
        </div>
    </div>
</header>

<body>
    <div class="title">各画面へ移動するページ</div>
    <form action="/action/move" method="post">
        <div class="button">
            <input type="button" name="1" value="新規登録">
            <input type="button" name="2" value="データ照会">
            <input type="button" name="3" value="検索">
            <input type="button" name="4" value="データ削除">
            <input type="button" name="5" value="休暇申請">
        </div>
    </form>
</body>

</html>