<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>Data from MySQL</title>
</head>

<body>
    <h1>登録されているデータ一覧</h1>
    <table border="1">
        <tr>
            <th>氏名</th>
            <th>所属部門</th>
            <th>従業員番号</th>
            <th>勤務時間</th>
        </tr>
        {% for row in data %}
        <tr>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[4] }}</td>
            <td>{{ row[7]-row[6] }}時間</td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>